<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EmpresaController</servlet-name>
        <servlet-class>controlador.EmpresaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>controlador.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubProductoController</servlet-name>
        <servlet-class>controlador.SubProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampanaController</servlet-name>
        <servlet-class>controlador.CampanaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RuteroController</servlet-name>
        <servlet-class>controlador.RuteroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimulacionController</servlet-name>
        <servlet-class>controlador.SimulacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesController</servlet-name>
        <servlet-class>controlador.ReportesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaController</servlet-name>
        <servlet-class>controlador.VentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoCampanaController</servlet-name>
        <servlet-class>controlador.TipoCampanaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controlador.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresaController</servlet-name>
        <url-pattern>/EmpresaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubProductoController</servlet-name>
        <url-pattern>/SubProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampanaController</servlet-name>
        <url-pattern>/CampanaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RuteroController</servlet-name>
        <url-pattern>/RuteroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimulacionController</servlet-name>
        <url-pattern>/SimulacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesController</servlet-name>
        <url-pattern>/ReportesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaController</servlet-name>
        <url-pattern>/VentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoCampanaController</servlet-name>
        <url-pattern>/TipoCampanaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
